/* globals.css */
@import "tailwindcss";


/* Base Styles */
:root {
  --primary-color: #d32626;
  --secondary-color: #2b2b2b;
  --accent-color: #e49b0f;
  --text-color: #333;
  --text-light: #666;
  --text-lighter: #999;
  --bg-color: #fff;
  --bg-light: #f8f8f8;
  --bg-dark: #1a1a1a;
  --font-heading: "Playfair Display", serif;
  --font-body: "Poppins", sans-serif;
}

